{% extends 'layout.html.twig' %}

{% block container %}
    <header class="bg-image bg-image-2">
        <section class="well-xl text-center user-info-section user-info-section--mod-1">
          <div class="container">
            <h1 class="text-white header-404">404.<small class="text-white">page not found</small></h1>
            <div class="col-md-6 col-md-offset-3 well">
              <p class="text-white">The page requested couldn't be found - this could be due to a spelling error in the URL or a removed page.</p>
              <a class="btn btn-default btn-sm round-xl offset-2" href="{{ path('homepage') }}">Back to homepage</a>
            </div>
          </div>
        </section>  
    </header>          
{% endblock %}
