/app/bootstrap.php.cache
/app/config/parameters.yml
/app/config/parameters_production.php
/app/phpunit.xml
/bower_components/
/var/logs/
/var/cache/
/var/sessions/
/web/bundles/
/web/assets/
/web/js/
/web/css/
/web/fonts/
/web/media/
/web/uploads/
/web/bin/
/web/data/
/vendor/
/nbproject/
/node_modules/
composer.lock
benagro.sh
