{% extends 'market.html.twig' %}
{% block dyofilter %}

{% endblock %}

{% block content %}
    <div id="offers" class="row flow-offset-1 clearleft">
        {% include 'demand/list.html.twig' with {'pagination': pagination} %}
    </div>
{% endblock %}