/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 11 juil. 2016, 10:50:22
    Author     : Jacques
*/
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(/assets/images/preloader_4.gif) center no-repeat #fff;
}
.pagination > li > a, .pagination > li > span{
    padding: 8px 20px;
}
.dropdown {
    text-align: left;
}

form .form-group .checkbox-group{
    margin-left: 60px;
    text-align: left;
}
form label.form-control{
    text-align: left;
}
form .form-group .input-group{
    width: 100%
}

span.required{
    color: red
}
input[type='number'] {
    -moz-appearance:textfield;
}
section > .swiper-container{
    height: auto!important;
    margin-top: 6%!important;
}
.dyo-blue{
    color: #004d40;
}
.single-product .product a img{
    height: 350px
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.product .caption dl{
    display: inline-block;
}
.product a img{
    width: 200px;
    height: 150px
}
.product .caption{
    font-weight: 600;
}
form .input-group-addon {
    background-color: #7D9F3B;
    border-radius: 10px;
    color: #b7b7b9;
    line-height: 0;
    padding: 10px 10px;
}
.dyo-nav{
    background: #004d40;
}
.form-group ul>li{
    color: red
}
.single-product .caption .price.sale {
    font-size: 23px;
}
/* offer relative caroussel */
#slider-text{
    padding-top: 40px;
    display: block;
}
#slider-text .col-md-6{
    overflow: hidden;
}

#slider-text h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 3px;
    margin: 30px auto;
    padding-left: 40px;
}
#slider-text h2::after{
    border-top: 2px solid #c7c7c7;
    content: "";
    position: absolute;
    bottom: 35px;
    width: 100%;
}

#itemslider h4{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    margin: 10px auto 3px;
}
#itemslider h5{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    font-size: 12px;
    margin: 3px auto 2px;
}
#itemslider h6{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;;
    font-size: 10px;
    margin: 2px auto 5px;
}
.badge {
    background: #b20c0c;
    position: absolute;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    line-height: 31px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
    border: 2px solid #FFF;
    box-shadow: 0 0 0 1px #b20c0c;
    top: 5px;
    right: 25%;
}
#slider-control img{
    padding-top: 60%;
    margin: 0 auto;
}
@media screen and (max-width: 992px){
    #slider-control img {
        padding-top: 70px;
        margin: 0 auto;
    }
}

.carousel-showmanymoveone .carousel-control {
    width: 4%;
    background-image: none;
}
.carousel-showmanymoveone .carousel-control.left {
    margin-left: 5px;
}
.carousel-showmanymoveone .carousel-control.right {
    margin-right: 5px;
}
.carousel-showmanymoveone .cloneditem-1,
.carousel-showmanymoveone .cloneditem-2,
.carousel-showmanymoveone .cloneditem-3,
.carousel-showmanymoveone .cloneditem-4,
.carousel-showmanymoveone .cloneditem-5 {
    display: none;
}
@media all and (min-width: 768px) {
    .carousel-showmanymoveone .carousel-inner > .active.left,
    .carousel-showmanymoveone .carousel-inner > .prev {
        left: -50%;
    }
    .carousel-showmanymoveone .carousel-inner > .active.right,
    .carousel-showmanymoveone .carousel-inner > .next {
        left: 50%;
    }
    .carousel-showmanymoveone .carousel-inner > .left,
    .carousel-showmanymoveone .carousel-inner > .prev.right,
    .carousel-showmanymoveone .carousel-inner > .active {
        left: 0;
    }
    .carousel-showmanymoveone .carousel-inner .cloneditem-1 {
        display: block;
    }
}
@media all and (min-width: 768px) and (transform-3d), all and (min-width: 768px) and (-webkit-transform-3d) {
    .carousel-showmanymoveone .carousel-inner > .item.active.right,
    .carousel-showmanymoveone .carousel-inner > .item.next {
        -webkit-transform: translate3d(50%, 0, 0);
        transform: translate3d(50%, 0, 0);
        left: 0;
    }
    .carousel-showmanymoveone .carousel-inner > .item.active.left,
    .carousel-showmanymoveone .carousel-inner > .item.prev {
        -webkit-transform: translate3d(-50%, 0, 0);
        transform: translate3d(-50%, 0, 0);
        left: 0;
    }
    .carousel-showmanymoveone .carousel-inner > .item.left,
    .carousel-showmanymoveone .carousel-inner > .item.prev.right,
    .carousel-showmanymoveone .carousel-inner > .item.active {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        left: 0;
    }
}
@media all and (min-width: 992px) {
    .carousel-showmanymoveone .carousel-inner > .active.left,
    .carousel-showmanymoveone .carousel-inner > .prev {
        left: -16.666%;
    }
    .carousel-showmanymoveone .carousel-inner > .active.right,
    .carousel-showmanymoveone .carousel-inner > .next {
        left: 16.666%;
    }
    .carousel-showmanymoveone .carousel-inner > .left,
    .carousel-showmanymoveone .carousel-inner > .prev.right,
    .carousel-showmanymoveone .carousel-inner > .active {
        left: 0;
    }
    .carousel-showmanymoveone .carousel-inner .cloneditem-2,
    .carousel-showmanymoveone .carousel-inner .cloneditem-3,
    .carousel-showmanymoveone .carousel-inner .cloneditem-4,
    .carousel-showmanymoveone .carousel-inner .cloneditem-5,
    .carousel-showmanymoveone .carousel-inner .cloneditem-6  {
        display: block;
    }
}
@media all and (min-width: 992px) and (transform-3d), all and (min-width: 992px) and (-webkit-transform-3d) {
    .carousel-showmanymoveone .carousel-inner > .item.active.right,
    .carousel-showmanymoveone .carousel-inner > .item.next {
        -webkit-transform: translate3d(16.666%, 0, 0);
        transform: translate3d(16.666%, 0, 0);
        left: 0;
    }
    .carousel-showmanymoveone .carousel-inner > .item.active.left,
    .carousel-showmanymoveone .carousel-inner > .item.prev {
        -webkit-transform: translate3d(-16.666%, 0, 0);
        transform: translate3d(-16.666%, 0, 0);
        left: 0;
    }
    .carousel-showmanymoveone .carousel-inner > .item.left,
    .carousel-showmanymoveone .carousel-inner > .item.prev.right,
    .carousel-showmanymoveone .carousel-inner > .item.active {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        left: 0;
    }
}

.btn{
    padding: 6px 12px;
}
/*screen-sm*/
@media (max-width: 768px) {
    .brand-name {
        font-size: 26px;
    }
}

@media (min-width: 768px) and (max-width: 992px) {

}
/*screen-md*/
@media (min-width: 992px) and (max-width: 1200px) {

}
/*screen-lg corresponds with col-lg*/
@media (min-width: 1200px) {

}

@media (min-width: 768px) {
    .market .jumbotron h1 small, .market  .jumbotron .h1 small {
        font-size: 16px;
    }
}
@media (min-width: 992px) {
    .market .jumbotron h1, .market  .jumbotron .h1 {
        font-size: 20px;
    }
}
@media (min-width: 1199px) {
    .market .jumbotron h1, .market .jumbotron .h1 {
        font-size: 59px;
    }
    .market .jumbotron h1 small, .market .jumbotron .h1 small {
        font-size: 16px;
    }
}
.market .jumbotron p.big {
    display: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
}
@media (min-width: 768px) {
    .market .jumbotron p.big {
        display: block;
        font-size: 18px;
    }
}
@media (min-width: 1199px) {
    .market .jumbotron p.big {
        font-size: 14px;
        line-height: 20px;
    }
}
.nav-tabs a>img{
    height: 45px;
    width: 45px
}