/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 11 juil. 2016, 10:50:22
    Author     : Jacques
*/
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(/assets/images/preloader_4.gif) center no-repeat #fff;
}
.pagination > li > a, .pagination > li > span{
    padding: 8px 20px;
}
.dropdown {
    text-align: left;
}

form .form-group .checkbox-group{
    margin-left: 60px;
    text-align: left;
}
form label.form-control{
    text-align: left;
}

span.required{
    color: red
}
input[type='number'] {
    -moz-appearance:textfield;
}
section > .swiper-container{
    height: auto!important;
    margin-top: 6%!important;
}
.dyo-blue{
    color: #004d40;
}
.single-product .product a img{
    height: 350px
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.product .caption dl{
    display: inline-block;
}
.product a img{
    width: 200px;
    height: 150px
}
.product .caption{
    font-weight: 600;
}
form .input-group-addon {
    background-color: #7D9F3B;
    border-radius: 10px;
    color: #b7b7b9;
    line-height: 0;
    padding: 10px 10px;
}
.dyo-nav{
    background: #004d40;
}
.form-group ul>li{
    color: red
}
.single-product .caption .price.sale {
    font-size: 23px;
}
/* offer relative caroussel */
.col-item
{
    border: 1px solid #E1E1E1;
    border-radius: 5px;
    background: #FFF;
}
.col-item .photo img
{
    margin: 0 auto;
    width: 100%;
}

.col-item .info
{
    padding: 10px;
    border-radius: 0 0 5px 5px;
    margin-top: 1px;
}

.col-item:hover .info {
    background-color: #F5F5DC;
}
.col-item .price
{
    /*width: 50%;*/
    float: left;
    margin-top: 5px;
}

.col-item .price h5
{
    line-height: 20px;
    margin: 0;
}

.price-text-color
{
    color: #219FD1;
}

.col-item .info .rating
{
    color: #777;
}

.col-item .rating
{
    /*width: 50%;*/
    float: left;
    font-size: 17px;
    text-align: right;
    line-height: 52px;
    margin-bottom: 10px;
    height: 52px;
}

.col-item .separator
{
    border-top: 1px solid #E1E1E1;
}

.clear-left
{
    clear: left;
}

.col-item .separator p
{
    line-height: 20px;
    margin-bottom: 0;
    margin-top: 10px;
    text-align: center;
}

.col-item .separator p i
{
    margin-right: 5px;
}
.col-item .btn-add
{
    width: 50%;
    float: left;
}

.col-item .btn-add
{
    border-right: 1px solid #E1E1E1;
}

.col-item .btn-details
{
    width: 50%;
    float: left;
    padding-left: 10px;
}
.controls
{
    margin-top: 20px;
}
[data-slide="prev"]
{
    margin-right: 10px;
}

.info h5
{
    text-align: center;
}
.btn{
    padding: 6px 12px;
}
/*screen-sm*/
@media (max-width: 768px) {
    .brand-name {
        font-size: 26px;
    }
}

@media (min-width: 768px) and (max-width: 992px) {

}
/*screen-md*/
@media (min-width: 992px) and (max-width: 1200px) {

}
/*screen-lg corresponds with col-lg*/
@media (min-width: 1200px) {

}
