/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 5 déc. 2016, 17:47:33
    Author     : fadonougbo
*/
/*body {background: #EAEAEA;}*/
.user-details {position: relative; padding: 0;}
.user-details .user-image {position: relative;  z-index: 1; width: 100%; text-align: center;}
.user-image img { clear: both; margin: auto; position: relative;}

.user-details .user-info-block {width: 100%; position: absolute; top: 55px; background: rgb(255, 255, 255); z-index: 0; padding-top: 35px;}
.user-info-block .user-heading {width: 100%; text-align: center; margin: 10px 0 0;}
.user-info-block .navigation {float: left; width: 100%; margin: 0; padding: 0; list-style: none; border-bottom: 1px solid #428BCA; border-top: 1px solid #428BCA;}
.user-details .navigation li {float: left; margin: 0; padding: 0;}
.user-details .navigation li a {padding: 20px 30px; float: left;}
.user-details .navigation li.active a {background: #428BCA; color: #fff;}
.user-info-block .user-body {float: left; padding: 5%; width: 90%;}
.user-body .tab-content > div {float: left; width: 100%;}
.user-body .tab-content h4 {width: 100%; margin: 10px 0; color: #333;}

/*pour notifications */
.tab-pane .list-group-item:first-child {border-top-right-radius: 0px;border-top-left-radius: 0px;}
.tab-pane .list-group-item:last-child {border-bottom-right-radius: 0px;border-bottom-left-radius: 0px;}
/*
.tab-pane .list-group .checkbox { float: left; }
.tab-pane .list-group .fa { float: left; }
.tab-pane .list-group .name { float: left; }
.tab-pane .list-group .subjet { float: left; }*/

a.list-group-item.read { color: #222;background-color: #F3F3F3; }
.tab-pane .list-group .fa:hover { color:#FFBC00; }

/*.tab-pane .list-group .label-success { float: right; }*/
.nav-pills>li>a {padding: 5px 10px;}

.ad { padding: 5px;background: #F5F5F5;color: #222;font-size: 80%;border: 1px solid #E5E5E5; }
.ad a.title {color: #15C;text-decoration: none;font-weight: bold;font-size: 110%;}
.ad a.url {color: #093;text-decoration: none;}

#notificationCount { color:  yellow;}
