{% extends 'market.html.twig' %}

{% block container %}
    {% block  ajoutmenu %}
    
   {% endblock %}
    
    <section >
        <!--Swiper-->
        <div class="swiper-container">
            <div class="jumbotron text-center">
                <h1>
                    <span class="text-bold dyo-blue" > {% block  title %}  {% endblock %}</span>
                </h1>
                <p class="big"></p>
            </div>
        </div>
    </section>
    <section class="section-border text-center text-md-left">
        <div class="container">
            {% block  menuentete %}
                <!--Tabs-->
               
            {% endblock %}
        </div>
    </section>
    <section class="text-center offset-1">
        <div class="container">
            {% block  corps %}
            
            {% endblock  %}
            <!-- Button trigger modal -->
        </div>
    </section>
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script>
        require(['dashboard/index']);
    </script>
{% endblock %}

