{% extends '/dashboard/mesdemandes.html.twig' %}

{% block  corpstitre %}
    <p style="font-style: italic;font-size: 14px;text-align: left;"> <a href="{{ path('dashboard_index')}}">/ Dashboard </a> <a href="{{ path('dashboard_mesdemandes')}}">/ Mes Demandes </a> <a href="{{ path('dashboard_mesdemandesExpires')}}">/ Expirées /</a></p>

{% endblock  corpstitre %}
