{% extends '/dashboard/mesdemandes.html.twig' %}

{% block  corpstitre %}
    <p style="font-style: italic;font-size: 14px;text-align: left;"> <a href="{{ path('index')}}">/ Dashboard </a> <a href="{{ path('mesdemandes')}}">/ Mes Demandes </a> <a href="{{ path('mesdemandesBrouillons')}}">/ Brouillons /</a></p>

{% endblock  corpstitre %}
